<div>
  <h2>Frequently asked Questions</h2>
  <div class="faq">
      <strong>How to buy a beat?</strong><br>
      Go to "Production" , Click ‘add to cart’, select a license, and proceed to checkout.<br>
      All files will become available to you directly afterwards. <br>
      An email confirmation will be sent as well including all files and download links.<br>
      <br>

      <strong>Will the beats still have the tags after I purchase a license?</strong><br>
      The beat will only have 1 signature tag in the beginning, the “purchase your tracks” and the other ones will be gone.<br>
      <br>

      <strong>I bought a beat but haven't received the files?</strong><br>
      If you haven’t received your files within 5 minutes, double-check the following:<br>
      <ol>
        <li>Check your spam folder</li>
        <li>Check your receipt, does it say the transaction is 'completed' or is it still 'pending'?</li>
      </ol>
      Otherwise, you can reach out to hybridvisionmusic&#64;gmail.com and we'll send you the files manually.<br>
      <br>

      <strong>Will I own the beat once I purchase it ?</strong><br>
      No. All the purchases made from the website are non-exclusive, which means the producer still own the rights and the beat will still be sold to other artists.<br>
      <br>

      <strong>Which payment methods do you accept?</strong><br>
      We accept Credit Card payments.<br>
      <br>
      <strong>Do you offer refunds or exchanges?</strong><br>
      Beats cannot be refunded or exchanged. Please make sure the correct tracks are selected before you make your purchase.<br>
      <br>
      <strong>Can I upgrade my license (later)?</strong><br>
      Yes, just contact us using the contact form.<br>
      <br>

      <strong>I lost the audio files I purchased!</strong><br>
      No worries! Just send us an email using the contact form and let us know when you placed the order and which email address you used to purchase. We’ll get back to you ASAP!<br>
      <br>

      <strong>I received a Content ID Claim!</strong><br>
      If you've purchased an Unlimited license and still got a Content ID claim from us, please send us an email hybrdvisionmusic&#64;gmail.com and we will fix it asap!<br>
  </div>
</div>
